div.DoNotHaveJavaScript {
    text-align: center;
    width: 100%;
}
img#LeftBrowserIcon {
    margin-right: 5%;
    height: 50px;
    width: 50px;
}
img#RightBrowserIcon {
    height: 50px;
    width: 50px;
}
strong#Warning {
    color: red;
}
strong#ChangeBrowserPrompts {
    color: rgb(0, 247, 255);
}