div.DoNotHaveJavaScript {
    text-align: center;
}
img#Chrome {
    margin-right: 50px;
    height: 50px;
    width: 50px;
}
img#Opera {
    margin-right: 50px;
    height: 50px;
    width: 50px;
}
img#Edge {
    margin-right: 50px;
    height: 50px;
    width: 50px;
}
img#Firefox {
    height: 50px;
    width: 50px;
}
strong#Warning {
    color: red;
}
strong#Tip1 {
    color: rgb(0, 247, 255);
}